<div id="<%= dom_id job_completion %>">
  <p>
    <strong>Adapter:</strong>
    <%= job_completion.adapter %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= job_completion.completed_at %>
  </p>

</div>
