<h1>Editing job completion</h1>

<%= render "form", job_completion: @job_completion %>

<br>

<div>
  <%= link_to "Show this job completion", @job_completion %> |
  <%= link_to "Back to job completions", job_completions_path %>
</div>
